@model RestaurantsPlatform.Web.ViewModels.Restaurants.DetailsRestaurantViewModel

@{
    ViewData["Title"] = "GetById";
}

<h1 class="text-center">@Model.RestaurantName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Description != null)
            {
                @Html.DisplayFor(model => model.Description)
            }
            else
            {
                <span>No information was given!</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @if (Model.OwnerName != null)
            {
                @Html.DisplayFor(model => model.OwnerName)
            }
            else
            {
                <span>No information was given!</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a href="/Home/Index">Go to home</a>
</div>

<div id='map' style='width: 400px; height: 300px;'></div>

@section scripts {
    <script>
        mapboxgl.accessToken = '@this.ViewBag.MapBoxApiKey';
        
        const client = new MapboxClient(mapboxgl.accessToken);
        const address = $('dt:contains("Address")').next().text();
        const test = client.geocodeForward(address, function (err, data, res) {

            const coordinates = data.features[0].center;

            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v10',
                center: coordinates,
                zoom: 15
            });
            new mapboxgl.Marker()
                .setLngLat(coordinates)
                .addTo(map);
        });
    </script>
}