@model DetailsCategoryViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="border-info text-center">
    <h1 class="m-4">
        @Model.Name
    </h1>
    <p>
        @Model.Description
    </p>
</div>

@if (this.User.IsInRole(AdministratorRoleName))
{
    <div class="text-center">
        <a class="btn btn-outline-info" asp-route="categoryWithAction" asp-route-name="@Model.Url" asp-route-id="@Model.Id" asp-route-action="update">
            Update
        </a>
        <a class="btn btn-outline-danger" asp-route="categoryWithAction" asp-route-name="@Model.Url" asp-route-id="@Model.Id" asp-route-action="delete">
            Delete
        </a>
    </div>
}

<div class="row d-flex justify-content-around">
    @foreach (var restaurant in Model.Restaurants)
    {
        <partial name="./PartialViews/_RestaurantDetailsInCategoryDetails" model="restaurant" />
    }
</div>

<partial name="./PartialViews/_RestaurantsPaginationView" model="@Model" />

@section scripts{
    <script type="text/javascript" src="~/js/functions/determinateRestaurantStatusByWorkingTime.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/functions/favouriteButtonInCategoryView.js" asp-append-version="true"></script>
}