@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model UpdateCategoryViewModel

@{
    ViewData["Title"] = "Update " + Model.Name;
}

<h1 class="text-center">Update</h1>

<div class="mx-auto w-50 update-category-form text-wrap">
    <hr />
    <div>
        <form asp-route="categoryWithAction" asp-route-name="@Model.Url" asp-route-action="update" asp-route-id="@Model.Id" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="8" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" id="RecaptchaValue" name="RecaptchaValue" />
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-outline-primary" />
                <a class="btn btn-outline-secondary" asp-route="category" asp-route-id="@Model.Id" asp-route-name="@Model.Url">
                    Back to Details
                </a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/functions/requiredStar.js" asp-append-version="true"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@this.Configuration["GoogleReCaptcha:SiteKey"]"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@this.Configuration["GoogleReCaptcha:SiteKey"]', { action: 'update' }).then(function (token) {
                document.getElementById("RecaptchaValue").value = token;
            });
        });
    </script>
}