@model RestaurantsPlatform.Web.ViewModels.Categories.DetailsCategoryViewModel

@{
    ViewData["Title"] = Model.Name;
}

<h1 class="text-center m-4">@Model.Name</h1>

<div class="">
    <p>
        @Model.Description
    </p>
</div>

@*<form class="mx-auto w-25 d-flex justify-content-around" asp-area="User" asp-controller="Categories" asp-action="Delete" asp-route-id="@Model.Id" method="get">
    <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
    <button asp-area="User" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id" value="Edit" class="btn btn-primary">Edit</button>
    <a class="btn btn-info" asp-area="User" asp-controller="Categories" asp-action="All">Back to All</a>
</form>*@

@*@<div class="row d-flex justify-content-around">
        @foreach (RestaurantDetailsViewModel restaurant in Model.Restaurants)
        {
            <div class="col-5 media mt-5">
                <img src="@restaurant.ImagesUrl.FirstOrDefault()" width="200" height="100" class="mr-3 rounded-lg" alt="@restaurant.RestaurantName">
                <div class="media-body">
                    <h5 class="mt-0">
                        <a asp-area="User" asp-controller="Restaurants" asp-action="Details" asp-route-id="@restaurant.Id">
                            @restaurant.RestaurantName (@restaurant.WorkingTime)
                        </a>
                    </h5>
                    <hr class="mb-3" />
                    <p>
                        @restaurant.Address
                    </p>
                </div>
            </div>
        }
    </div>*@