@using static RestaurantsPlatform.Common.GlobalConstants
@using RestaurantsPlatform.Web.ViewModels.PartialModels;
@model RestaurantsPlatform.Web.ViewModels.Categories.DetailsCategoryViewModel

@{
    ViewData["Title"] = Model.Name;

    var partialModel = new HeadingPartialViewModel(Model.Name, "default", "categories", null, "all", null);
}


<div class="border-info text-center">
    <partial name="_Heading" model="partialModel" />
    <p>
        @Model.Description
    </p>
</div>

@if (this.User.IsInRole(AdministratorRoleName))
{
    <div class="text-center">
        <a class="btn btn-outline-info" asp-route="category" asp-route-name="@Model.Url" asp-route-id="@Model.Id" asp-route-action="update">
            Update
        </a>
        <a class="btn btn-outline-danger" asp-route="category" asp-route-name="@Model.Url" asp-route-id="@Model.Id" asp-route-action="delete">
            Delete
        </a>
    </div>
}

<div class="row d-flex justify-content-around">
    @foreach (var restaurant in Model.Restaurants)
    {
        string imageUrl = "https://res.cloudinary.com/djlskbceh/image/upload/v1585916924/restaurant/NoImage_lq3vxk.png";
        if (restaurant.Images?.FirstOrDefault() != null)
        {
            imageUrl = restaurant.Images.FirstOrDefault().ImageUrl;
        }

        <div class="col-6 media mt-5">
            <img src="@imageUrl" class="mr-3 restaurantImage" alt="@restaurant.RestaurantName">
            <div class="media-body">
                <h5>@restaurant.RestaurantName</h5>
                <div class="workingTime">@restaurant.WorkingTime</div>
                <div class="badge badge-pill status"></div>
                <hr class="mb-3" />
                <p>@restaurant.Address</p>
                <div>
                    <a asp-route="restaurant" asp-route-id="@restaurant.Id" asp-route-name="@restaurant.ParsedUrlName" class="btn btn-outline-success btn-sm">Details</a>
                    <a class="likeBtn btn btn-outline-danger btn-sm"><i class="heartIcon fa-heart fa-w-16"></i></a>
                </div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript" src="~/js/functions/determinateRestaurantStatusByWorkingTime.js"></script>
    <script type="text/javascript" src="~/js/functions/favouriteButtonInCategoryView.js"></script>
}