@page
@using static RestaurantsPlatform.Common.GlobalConstants

@model AccountModel
@{
    ViewData["Title"] = "Account";
}

<h1 class="text-center display-3">@ViewData["Title"]</h1>

<div class="container-fluid mt-4 rounded">
    <div class="row">
        <div class="col-12 col-md-4 ml-0 my-auto imageContainer">
            <img src="@Model.CurrentUser.ImageUrl" class="img-fluid" alt="Profile Picture">
            @if (Model.CurrentUser.UserName == this.User.Identity.Name)
            {
                <div class="text-center position-absolute pictureBtn">
                    <a class="btn btn-info rounded-pill text-white" asp-area="identity" asp-controller="account" asp-action="updateImage"
                       asp-route-userName="@Model.CurrentUser.UserName">
                        Update
                    </a>
                    <a class="btn btn-danger rounded-pill delete text-white">
                        Delete
                    </a>
                </div>
            }
        </div>

        <div class="col-12 col-md-6 mt-3 table-responsive">
            <table class="table">
                <tbody>
                    <tr class="without-border">
                        <th scope="row">Username</th>
                        <td>@Model.CurrentUser.UserName</td>
                    </tr>
                    @if (Model.CurrentUser.UserName == this.User.Identity.Name)
                    {
                        // TODO check if user wants to show their email
                        <tr>
                            <th scope="row">Email</th>
                            <td>@Model.CurrentUser.Email</td>
                        </tr>
                    }
                    @if (Model.CurrentUser.UserName == this.User.Identity.Name)
                    {
                        <tr>
                            <th scope="row">Created on</th>
                            <td><time datetime="@Model.CurrentUser.CreatedOn.ToString("O")"></time></td>
                        </tr>
                    }
                    @if (Model.CurrentUser.RoleName == RestaurantRoleName || Model.CurrentUser.RoleName == AdministratorRoleName)
                    {
                        <tr>
                            <th scope="row">Created Restaurants</th>
                            <td>@Model.CurrentUser.RestaurantsCount</td>
                        </tr>
                    }
                    <tr>
                        <th scope="row">Favourite Restaurants</th>
                        <td>@Model.CurrentUser.FavouriteRestaurantsCount</td>
                    </tr>
                    <tr>
                        <th scope="row">Created Comments</th>
                        <td>@Model.CurrentUser.CommentsCount</td>
                    </tr>
                    <tr>
                        <th scope="row">Voted Comments</th>
                        <td>@Model.CurrentUser.VotesCount</td>
                    </tr>
                </tbody>
            </table>
        </div>

        @if (Model.CurrentUser.UserName == this.User.Identity.Name)
        {
            <div class="col-12 col-md-2 text-center mt-3">
                <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="fas fa-cog"></i>
                    Settings
                </a>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/functions/imagesButtonsFunction.js" asp-append-version="true"></script>
    <script type="text/javascript">
        (() => {
            const deleteBtn = document.getElementsByClassName('delete')[0];

            deleteBtn.addEventListener('click', function (e) {
                e.preventDefault();

                toastr.info('Deleting picture...');
                fetch('account/deleteImage?userName=' + '@Model.CurrentUser.UserName')
                    .then(response => {
                        if (response.status === 200) {
                            toastr.success('Successfully deleted profile picture!');

                            return response.text();
                        } else {
                            toastr.error('Something went wrong!');
                            console.clear();
                            console.log(response);
                        }
                    })
                    .then(text => this.parentNode.parentNode.getElementsByTagName('img')[0].src = text);
            });
        })();
    </script>
}