@model AllImagesFromRestaurantViewModel

@{
    ViewData["Title"] = "Gallery";
}

<h1 class="text-center m-4">
    Gallery - @Model.RestaurantName
</h1>

<div class="d-flex flex-wrap justify-content-center justify-content-lg-between gallery">
    @foreach (var image in Model.Images)
    {
        <div class="imageContainer position-relative">
            <img class="mb-4 rounded-lg" src="@image.ImageUrl" alt="Image" />
            @if (Model.UserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <div class="text-center position-absolute pictureBtn">
                    <a class="btn btn-info rounded-pill " asp-route="restaurantImages" asp-route-id="@Model.Id" asp-route-name="@Model.Url" asp-route-action="update" asp-route-imageUrl="@image.ImageUrl">
                        Update
                    </a>
                    <a class="btn btn-danger rounded-pill delete" asp-route="restaurantImages" asp-route-id="@Model.Id" asp-route-name="@Model.Url" asp-route-action="delete" asp-route-imageUrl="@image.ImageUrl">
                        Delete
                    </a>
                </div>
            }
        </div>
    }
</div>


@section scripts{
    <script type="text/javascript" src="~/js/functions/imagesButtonsFunction.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/functions/deleteImageAsync.js" asp-append-version="true"></script>
}