@using System.Security.Claims;
@model RestaurantsPlatform.Web.ViewModels.RestaurantsImages.AllImagesFromRestaurantViewModel

@{
    ViewData["Title"] = "Gallery";
}

<h1 class="text-center m-4">
    <span class="float-md-left">
        <a class="btn btn-outline-secondary" href="/r/@Model.Id/@Model.Url">
            <i class="far fa-arrow-alt-circle-left"></i>
        </a>
    </span>
    Gallery
</h1>


<div class="d-flex flex-wrap justify-content-between">
    @foreach (var item in Model.Images)
    {
        <div class="imageContainer position-relative">
            <img class="mb-4 rounded-lg" src="@item.ImageUrl" alt="Image" />
            @if (Model.UserId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
            {
                <div class="text-center position-absolute pictureBtn">
                    <a class="btn btn-info rounded-pill " asp-route="restaurantImages" asp-route-id="@Model.Id" asp-route-name="@Model.Url" asp-route-action="update" asp-route-imageUrl="@item.ImageUrl">
                        Update
                    </a>
                    <a class="btn btn-danger rounded-pill" asp-route="restaurantImages" asp-route-id="@Model.Id" asp-route-name="@Model.Url" asp-route-action="delete" asp-route-imageUrl="@item.ImageUrl">
                        Delete
                    </a>
                </div>
            }
        </div>
    }
</div>


@section scripts{
    <script type="text/javascript" src="~/js/functions/imagesButtonsFunction.js"></script>
}