@model RestaurantsPlatform.Web.ViewModels.Restaurants.AllRestaurantsViewModel

@{
    string imageUrl = "https://res.cloudinary.com/djlskbceh/image/upload/v1585916924/restaurant/NoImage_lq3vxk.png";
    if (Model.Images?.FirstOrDefault() != null)
    {
        imageUrl = Model.Images.FirstOrDefault().ImageUrl;
    }
}
<div class="col-6 media mt-5">
    <img src="@imageUrl" class="mr-3 restaurantImage" alt="@Model.RestaurantName">
    <div class="media-body">
        <h5>@Model.RestaurantName</h5>
        <div class="workingTime">@Model.WorkingTime</div>
        <div class="badge badge-pill status"></div>
        <hr class="mb-3" />
        <p>@Model.Address</p>
        <div>
            <a asp-route="restaurant" asp-route-id="@Model.Id" asp-route-name="@Model.ParsedUrlName" class="btn btn-outline-success btn-sm">Details</a>
            <a class="likeBtn btn btn-outline-danger btn-sm"><i class="heartIcon fa-heart fa-w-16"></i></a>
        </div>
    </div>
</div>

