@model RestaurantsPlatform.Web.ViewModels.Restaurants.AllRestaurantsViewModel

@{
    string imageUrl = "https://res.cloudinary.com/djlskbceh/image/upload/v1585916924/restaurant/NoImage_lq3vxk.png";
    if (Model.Images?.FirstOrDefault() != null)
    {
        imageUrl = Model.Images.FirstOrDefault().ImageUrl;
    }
}
<div class="col-12 col-md-6 mt-lg-5 mt-3 row">
    <div class="col-12 col-lg-6 restaurant-image-container">
        <img src="@imageUrl" class="restaurant-image mx-auto" alt="@Model.RestaurantName">
    </div>
    <div class="col-12 col-lg-6 text-center mt-lg-0 mt-3">
        <h5>@Model.RestaurantName</h5>
        <div class="workingTime">@Model.WorkingTime</div>
        <div class="badge badge-pill status"></div>
        <hr class="mb-3" />
        <p>@Model.Address</p>
        <div>
            <a asp-route="restaurant" asp-route-id="@Model.Id" asp-route-name="@Model.ParsedUrlName" class="btn btn-outline-success btn-sm">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                @if (Model.IsFavourite)
                {
                    <a class="likeBtn btn btn-outline-danger btn-sm"><i class="heartIcon fa fa-heart fa-w-16"></i></a>
                }
                else
                {
                    <a class="likeBtn btn btn-outline-danger btn-sm"><i class="heartIcon far fa-heart fa-w-16"></i></a>
                }
                <form class="d-none" id="favourites">@Html.AntiForgeryToken() <input value="@Model.Id" name="Id"/></form>
            }
        </div>
    </div>
</div>

