@using static RestaurantsPlatform.Common.GlobalConstants;
@using System.Security.Claims;
@model IEnumerable<RestaurantsPlatform.Web.ViewModels.Users.UserInformationViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1 class="text-center">Users</h1>
<table class="table ml-0 table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                Promote/Demote
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.CreatedOn)
                </td>
                <td>
                    <input type="checkbox" class="flipswitch" checked="@user.IsDeleted" disabled/>
                </td>
                <td>
                    @if (user.IsDeleted)
                    {
                        @Html.DisplayFor(modelItem => user.DeletedOn)
                    }
                    else
                    {
                        <span>Not deleted</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.RoleName)
                </td>
                <td>
                    @if (user.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a class="btn btn-primary disabled mt-1 mt-lg-0">
                            Promote
                        </a>
                        <a class="btn btn-secondary disabled mt-1 mt-lg-0">
                            Demote
                        </a>
                        <a class="btn btn-danger disabled mt-1">
                            Ban
                        </a>
                    }
                    else
                    {
                        @if (user.IsDeleted)
                        {
                            <a class="btn btn-primary disabled mt-1 mt-lg-0">
                                Promote
                            </a>
                            <a class="btn btn-secondary disabled mt-1 mt-lg-0">
                                Demote
                            </a>
                            <a class="btn btn-success  mt-1" asp-area="Administration" asp-controller="Dashboard" asp-action="UnBan" asp-route-id="@user.Id">
                                UnBan
                            </a>
                        }
                        else
                        {
                            @if (user.RoleName == UserRoleName)
                            {
                                <a class="btn btn-primary mt-1 mt-lg-0" asp-area="Administration" asp-controller="Dashboard" asp-action="Promote" asp-route-id="@user.Id" asp-route-roleName="@user.RoleName">
                                    Promote
                                </a>
                                <a class="btn btn-secondary disabled mt-1 mt-lg-0">
                                    Demote
                                </a>
                            }
                            else if (user.RoleName == AdministratorRoleName)
                            {
                                <a class="btn btn-primary disabled mt-1 mt-lg-0">
                                    Promote
                                </a>
                                <a class="btn btn-secondary mt-1 mt-lg-0" asp-area="Administration" asp-controller="Dashboard" asp-action="Demote" asp-route-id="@user.Id" asp-route-roleName="@user.RoleName">
                                    Demote
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-primary mt-1 mt-lg-0" asp-area="Administration" asp-controller="Dashboard" asp-action="Promote" asp-route-id="@user.Id" asp-route-roleName="@user.RoleName">
                                    Promote
                                </a>
                                <a class="btn btn-secondary mt-1 mt-lg-0" asp-area="Administration" asp-controller="Dashboard" asp-action="Demote" asp-route-id="@user.Id" asp-route-roleName="@user.RoleName">
                                    Demote
                                </a>
                            }
                            <a class="btn btn-danger mt-1" asp-area="Administration" asp-controller="Dashboard" asp-action="Ban" asp-route-id="@user.Id">
                                Ban
                            </a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
