@using static RestaurantsPlatform.Common.GlobalConstants;
@using System.Security.Claims;
@model IEnumerable<RestaurantsPlatform.Web.ViewModels.Users.UserInformationViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1 class="text-center">Users</h1>
<table class="table ml-0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                Promote/Demote
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @if (item.IsDeleted)
                    {
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    }
                    else
                    {
                        <span>Not deleted</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @if (item.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a class="btn btn-primary disabled">
                            Promote
                        </a>
                        <a class="btn btn-secondary disabled">
                            Demote
                        </a>
                        <a class="btn btn-danger disabled">
                            Ban
                        </a>
                    }
                    else
                    {
                        @if (item.RoleName == UserRoleName)
                        {
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="Promote" asp-route-id="@item.Id" asp-route-roleName="@item.RoleName">
                                Promote
                            </a>
                            <a class="btn btn-secondary disabled">
                                Demote
                            </a>
                        }
                        else if (item.RoleName == AdministratorRoleName)
                        {
                            <a class="btn btn-primary disabled">
                                Promote
                            </a>
                            <a class="btn btn-secondary" asp-area="Administration" asp-controller="Dashboard" asp-action="Demote" asp-route-id="@item.Id" asp-route-roleName="@item.RoleName">
                                Demote
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Dashboard" asp-action="Promote" asp-route-id="@item.Id" asp-route-roleName="@item.RoleName">
                                Promote
                            </a>
                            <a class="btn btn-secondary" asp-area="Administration" asp-controller="Dashboard" asp-action="Demote" asp-route-id="@item.Id" asp-route-roleName="@item.RoleName">
                                Demote
                            </a>
                        }
                        <a class="btn btn-danger" asp-area="Administration" asp-controller="Dashboard" asp-action="Ban" asp-route-id="@item.Id" asp-route-roleName="@item.RoleName">
                            Ban
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
