@using static RestaurantsPlatform.Common.GlobalConstants
@using static RestaurantsPlatform.Web.Infrastructure.NotificationsMessagesContants


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @SystemName</title>

    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/build/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/build/toastr.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <partial name="_HeaderNavigation" />
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark text-white-50 text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @SystemName - <a asp-route="default" asp-route-controller="home" asp-route-action="privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.min.js" asp-append-version="true"></script>
        <script src="~/lib/moment/min/moment-with-locales.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script type="text/javascript">

        (document.getElementsByTagName('body')[0]).onload = function checkIfNotificationMessageIsGiven() {
            if ('@this.TempData[SuccessNotification]') {
                toastr.success('@this.TempData[SuccessNotification]');
            }
            if ('@this.TempData[ErrorNotification]') {
                toastr.error('@this.TempData[ErrorNotification]');
            }
            if ('@this.TempData[WarningNotification]') {
                toastr.warning('@this.TempData[WarningNotification]');
            }
            if ('@this.TempData[InfoNotification]') {
                toastr.info('@this.TempData[InfoNotification]');
            }
        };
    </script>
    @this.RenderSection("Scripts", required: false)
</body>
</html>
